CivilFilingClient/CivilFilingWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/25/2013 11:48 AM(foreman)-. -->
<definitions targetNamespace="http://webservice.civilfiling.ecourts.ito.aoc.nj/" name="CivilFilingWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.civilfiling.ecourts.ito.aoc.nj/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsp:Policy wsu:Id="CivilFilingWSPortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization wsp:Optional="true" xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.civilfiling.ecourts.ito.aoc.nj/" schemaLocation="CivilFilingWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="submitCivilFiling">
    <part name="parameters" element="tns:submitCivilFiling"/>
  </message>
  <message name="submitCivilFilingResponse">
    <part name="parameters" element="tns:submitCivilFilingResponse"/>
  </message>
  <message name="ECourtsCivilServiceException">
    <part name="fault" element="tns:ECourtsCivilServiceException"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="getCivilFilingStatus">
    <part name="parameters" element="tns:getCivilFilingStatus"/>
  </message>
  <message name="getCivilFilingStatusResponse">
    <part name="parameters" element="tns:getCivilFilingStatusResponse"/>
  </message>
  <portType name="CivilFilingWS">
    <operation name="submitCivilFiling">
      <input wsam:Action="http://webservice.civilfiling.ecourts.ito.aoc.nj/CivilFilingWS/submitCivilFilingRequest" message="tns:submitCivilFiling"/>
      <output wsam:Action="http://webservice.civilfiling.ecourts.ito.aoc.nj/CivilFilingWS/submitCivilFilingResponse" message="tns:submitCivilFilingResponse"/>
      <fault message="tns:ECourtsCivilServiceException" name="ECourtsCivilServiceException" wsam:Action="http://webservice.civilfiling.ecourts.ito.aoc.nj/CivilFilingWS/submitCivilFiling/Fault/ECourtsCivilServiceException"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://webservice.civilfiling.ecourts.ito.aoc.nj/CivilFilingWS/submitCivilFiling/Fault/Exception"/>
    </operation>
    <operation name="getCivilFilingStatus">
      <input wsam:Action="http://webservice.civilfiling.ecourts.ito.aoc.nj/CivilFilingWS/getCivilFilingStatusRequest" message="tns:getCivilFilingStatus"/>
      <output wsam:Action="http://webservice.civilfiling.ecourts.ito.aoc.nj/CivilFilingWS/getCivilFilingStatusResponse" message="tns:getCivilFilingStatusResponse"/>
      <fault message="tns:ECourtsCivilServiceException" name="ECourtsCivilServiceException" wsam:Action="http://webservice.civilfiling.ecourts.ito.aoc.nj/CivilFilingWS/getCivilFilingStatus/Fault/ECourtsCivilServiceException"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://webservice.civilfiling.ecourts.ito.aoc.nj/CivilFilingWS/getCivilFilingStatus/Fault/Exception"/>
    </operation>
  </portType>
  <binding name="CivilFilingWSPortBinding" type="tns:CivilFilingWS">
    <wsp:PolicyReference URI="#CivilFilingWSPortBinding_MTOM_Policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="submitCivilFiling">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ECourtsCivilServiceException">
        <soap:fault name="ECourtsCivilServiceException" use="literal"/>
      </fault>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getCivilFilingStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ECourtsCivilServiceException">
        <soap:fault name="ECourtsCivilServiceException" use="literal"/>
      </fault>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CivilFilingWSService">
    <port name="CivilFilingWSPort" binding="tns:CivilFilingWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

