CivilFilingClient/Service References/CivilFilingServiceReferenceV2/CivilFilingWSService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice.civilfiling.ecourts.ito.aoc.nj/" targetNamespace="http://webservice.civilfiling.ecourts.ito.aoc.nj/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ECourtsCivilServiceException" type="tns:ECourtsCivilServiceException" />
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="getCivilFilingStatus" type="tns:getCivilFilingStatus" />
  <xs:element name="getCivilFilingStatusResponse" type="tns:getCivilFilingStatusResponse" />
  <xs:element name="searchNotices" type="tns:searchNotices" />
  <xs:element name="searchNoticesResponse" type="tns:searchNoticesResponse" />
  <xs:element name="submitCivilFiling" type="tns:submitCivilFiling" />
  <xs:element name="submitCivilFilingResponse" type="tns:submitCivilFilingResponse" />
  <xs:complexType name="searchNotices">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:noticeRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="noticeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" nillable="true" type="tns:attribute" />
      <xs:element minOccurs="0" name="firmId" type="xs:string" />
      <xs:element minOccurs="0" name="noticeDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchNoticesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:noticeResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="noticeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="messages" nillable="true" type="tns:message" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="notices" nillable="true" type="tns:notice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="message">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" nillable="true" type="tns:attribute" />
      <xs:element minOccurs="0" name="bytes" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="docketNumber" type="tns:docketNumber" />
      <xs:element minOccurs="0" name="firmId" type="xs:string" />
      <xs:element minOccurs="0" name="noticeDate" type="xs:string" />
      <xs:element minOccurs="0" name="noticeDesc" type="xs:string" />
      <xs:element minOccurs="0" name="noticeType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="docketNumber">
    <xs:sequence>
      <xs:element name="docketCenturyYear" type="xs:short" />
      <xs:element name="docketCourtYear" type="xs:short" />
      <xs:element name="docketSeqNum" type="xs:long" />
      <xs:element minOccurs="0" name="docketTypeCode" type="xs:string" />
      <xs:element minOccurs="0" name="docketVenue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ECourtsCivilServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="messageCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCivilFilingStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:civilFilingRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="civilFilingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="bulkFilingPacket" type="tns:bulkFilingPacket" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bulkFilingPacket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attachmentList" nillable="true" type="tns:attachment" />
      <xs:element minOccurs="0" name="attorneyFirmId" type="xs:string" />
      <xs:element minOccurs="0" name="attorneyId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" nillable="true" type="tns:attribute" />
      <xs:element minOccurs="0" name="civilCase" type="tns:case" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="defendantList" nillable="true" type="tns:party" />
      <xs:element minOccurs="0" name="documentRedactionInd" type="xs:string" />
      <xs:element minOccurs="0" name="efilingNumber" type="tns:efilingNumber" />
      <xs:element minOccurs="0" name="fee" type="tns:fee" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="plaintiffList" nillable="true" type="tns:party" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" nillable="true" type="tns:attribute" />
      <xs:element minOccurs="0" name="bytes" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="contentType" type="xs:string" />
      <xs:element minOccurs="0" name="docType" type="xs:string" />
      <xs:element minOccurs="0" name="documentCode" type="xs:string" />
      <xs:element minOccurs="0" name="documentDescription" type="xs:string" />
      <xs:element minOccurs="0" name="documentName" type="xs:string" />
      <xs:element minOccurs="0" name="extention" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="case">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" nillable="true" type="tns:attribute" />
      <xs:element minOccurs="0" name="caseAction" type="xs:string" />
      <xs:element minOccurs="0" name="courtSection" type="xs:string" />
      <xs:element minOccurs="0" name="defendantCaption" type="xs:string" />
      <xs:element minOccurs="0" name="demandAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="docketDetailsForOtherCourt" type="xs:string" />
      <xs:element minOccurs="0" name="juryDemand" type="xs:string" />
      <xs:element minOccurs="0" name="lawFirmCaseId" type="xs:string" />
      <xs:element minOccurs="0" name="otherCourtActions" type="xs:string" />
      <xs:element minOccurs="0" name="plaintiffCaption" type="xs:string" />
      <xs:element minOccurs="0" name="serviceMethod" type="xs:string" />
      <xs:element minOccurs="0" name="venue" type="xs:string" />
      <xs:element minOccurs="0" name="venueOfIncident" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="party">
    <xs:sequence>
      <xs:element minOccurs="0" name="accommodationType" type="xs:string" />
      <xs:element minOccurs="0" name="adaAccommodationInd" type="xs:string" />
      <xs:element minOccurs="0" name="additionalAccommodationDetails" type="xs:string" />
      <xs:element minOccurs="0" name="address" type="tns:address" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" nillable="true" type="tns:attribute" />
      <xs:element minOccurs="0" name="corporationName" type="xs:string" />
      <xs:element minOccurs="0" name="corporationType" type="xs:string" />
      <xs:element minOccurs="0" name="interpreterInd" type="xs:string" />
      <xs:element minOccurs="0" name="language" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="tns:name" />
      <xs:element minOccurs="0" name="partyAffiliation" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="partyAliasList" nillable="true" type="tns:partyAlias" />
      <xs:element minOccurs="0" name="partyDescription" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressLine1" type="xs:string" />
      <xs:element minOccurs="0" name="addressLine2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" nillable="true" type="tns:attribute" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="stateCode" type="xs:string" />
      <xs:element minOccurs="0" name="zipCode" type="xs:string" />
      <xs:element minOccurs="0" name="zipCodeExt" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="name">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="partyAlias">
    <xs:sequence>
      <xs:element minOccurs="0" name="alternateName" type="xs:string" />
      <xs:element minOccurs="0" name="alternateTypeCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" nillable="true" type="tns:attribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="efilingNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="efilingCourtDiv" type="xs:string" />
      <xs:element minOccurs="0" name="efilingCourtYr" type="xs:string" />
      <xs:element name="efilingSeqNo" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fee">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
      <xs:element minOccurs="0" name="attorneyClientRefNumber" type="xs:string" />
      <xs:element minOccurs="0" name="attorneyFee" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attributes" nillable="true" type="tns:attribute" />
      <xs:element minOccurs="0" name="exemptionReason" type="xs:string" />
      <xs:element minOccurs="0" name="feeExempt" type="xs:string" />
      <xs:element minOccurs="0" name="paymentType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCivilFilingStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:civilFilingResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="civilFilingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="docketNumber" type="tns:docketNumber" />
      <xs:element minOccurs="0" name="efilingNumber" type="tns:efilingNumber" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="messages" nillable="true" type="tns:message" />
      <xs:element name="queueFilingProcessed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="submitCivilFiling">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:civilFilingRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="submitCivilFilingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:civilFilingResponse" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>