wsdl/CivilFilingWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>-->
<xs:schema version="1.0" targetNamespace="http://webservice.civilfiling.ecourts.ito.aoc.nj/" xmlns:tns="http://webservice.civilfiling.ecourts.ito.aoc.nj/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ECourtsCivilServiceException" type="tns:ECourtsCivilServiceException"/>

  <xs:element name="Exception" type="tns:Exception"/>

  <xs:element name="getCivilFilingStatus" type="tns:getCivilFilingStatus"/>

  <xs:element name="getCivilFilingStatusResponse" type="tns:getCivilFilingStatusResponse"/>

  <xs:element name="searchNotices" type="tns:searchNotices"/>

  <xs:element name="searchNoticesResponse" type="tns:searchNoticesResponse"/>

  <xs:element name="submitCivilFiling" type="tns:submitCivilFiling"/>

  <xs:element name="submitCivilFilingResponse" type="tns:submitCivilFilingResponse"/>

  <xs:complexType name="searchNotices">
    <xs:sequence>
      <xs:element name="arg0" type="tns:noticeRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="noticeRequest">
    <xs:sequence>
      <xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="firmId" type="xs:string" minOccurs="0"/>
      <xs:element name="noticeDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attribute">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchNoticesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:noticeResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="noticeResponse">
    <xs:sequence>
      <xs:element name="messages" type="tns:message" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="notices" type="tns:notice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="message">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notice">
    <xs:sequence>
      <xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="bytes" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="docketNumber" type="tns:docketNumber" minOccurs="0"/>
      <xs:element name="firmId" type="xs:string" minOccurs="0"/>
      <xs:element name="noticeDate" type="xs:string" minOccurs="0"/>
      <xs:element name="noticeDesc" type="xs:string" minOccurs="0"/>
      <xs:element name="noticeType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="docketNumber">
    <xs:sequence>
      <xs:element name="docketCenturyYear" type="xs:short"/>
      <xs:element name="docketCourtYear" type="xs:short"/>
      <xs:element name="docketSeqNum" type="xs:long"/>
      <xs:element name="docketTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="docketVenue" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ECourtsCivilServiceException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCivilFilingStatus">
    <xs:sequence>
      <xs:element name="arg0" type="tns:civilFilingRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="civilFilingRequest">
    <xs:sequence>
      <xs:element name="bulkFilingPacket" type="tns:bulkFilingPacket" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bulkFilingPacket">
    <xs:sequence>
      <xs:element name="attachmentList" type="tns:attachment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="attorneyFirmId" type="xs:string" minOccurs="0"/>
      <xs:element name="attorneyId" type="xs:string" minOccurs="0"/>
      <xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="civilCase" type="tns:case" minOccurs="0"/>
      <xs:element name="defendantList" type="tns:party" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="documentRedactionInd" type="xs:string" minOccurs="0"/>
      <xs:element name="efilingNumber" type="tns:efilingNumber" minOccurs="0"/>
      <xs:element name="fee" type="tns:fee" minOccurs="0"/>
      <xs:element name="plaintiffList" type="tns:party" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attachment">
    <xs:sequence>
      <xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="bytes" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="contentType" type="xs:string" minOccurs="0"/>
      <xs:element name="docType" type="xs:string" minOccurs="0"/>
      <xs:element name="documentCode" type="xs:string" minOccurs="0"/>
      <xs:element name="documentDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="documentName" type="xs:string" minOccurs="0"/>
      <xs:element name="extention" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="case">
    <xs:sequence>
      <xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="caseAction" type="xs:string" minOccurs="0"/>
      <xs:element name="courtSection" type="xs:string" minOccurs="0"/>
      <xs:element name="defendantCaption" type="xs:string" minOccurs="0"/>
      <xs:element name="demandAmount" type="xs:decimal" minOccurs="0"/>
      <xs:element name="docketDetailsForOtherCourt" type="xs:string" minOccurs="0"/>
      <xs:element name="juryDemand" type="xs:string" minOccurs="0"/>
      <xs:element name="lawFirmCaseId" type="xs:string" minOccurs="0"/>
      <xs:element name="otherCourtActions" type="xs:string" minOccurs="0"/>
      <xs:element name="plaintiffCaption" type="xs:string" minOccurs="0"/>
      <xs:element name="serviceMethod" type="xs:string" minOccurs="0"/>
      <xs:element name="venue" type="xs:string" minOccurs="0"/>
      <xs:element name="venueOfIncident" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="party">
    <xs:sequence>
      <xs:element name="accommodationType" type="xs:string" minOccurs="0"/>
      <xs:element name="adaAccommodationInd" type="xs:string" minOccurs="0"/>
      <xs:element name="additionalAccommodationDetails" type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="tns:address" minOccurs="0"/>
      <xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="corporationName" type="xs:string" minOccurs="0"/>
      <xs:element name="corporationType" type="xs:string" minOccurs="0"/>
      <xs:element name="interpreterInd" type="xs:string" minOccurs="0"/>
      <xs:element name="language" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="tns:name" minOccurs="0"/>
      <xs:element name="partyAffiliation" type="xs:string" minOccurs="0"/>
      <xs:element name="partyAliasList" type="tns:partyAlias" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="partyDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="address">
    <xs:sequence>
      <xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
      <xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
      <xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="stateCode" type="xs:string" minOccurs="0"/>
      <xs:element name="zipCode" type="xs:string" minOccurs="0"/>
      <xs:element name="zipCodeExt" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="name">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string" minOccurs="0"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
      <xs:element name="middleName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="partyAlias">
    <xs:sequence>
      <xs:element name="alternateName" type="xs:string" minOccurs="0"/>
      <xs:element name="alternateTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="efilingNumber">
    <xs:sequence>
      <xs:element name="efilingCourtDiv" type="xs:string" minOccurs="0"/>
      <xs:element name="efilingCourtYr" type="xs:string" minOccurs="0"/>
      <xs:element name="efilingSeqNo" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fee">
    <xs:sequence>
      <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="attorneyClientRefNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="attorneyFee" type="xs:decimal" minOccurs="0"/>
      <xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exemptionReason" type="xs:string" minOccurs="0"/>
      <xs:element name="feeExempt" type="xs:string" minOccurs="0"/>
      <xs:element name="paymentType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCivilFilingStatusResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:civilFilingResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="civilFilingResponse">
    <xs:sequence>
      <xs:element name="docketNumber" type="tns:docketNumber" minOccurs="0"/>
      <xs:element name="efilingNumber" type="tns:efilingNumber" minOccurs="0"/>
      <xs:element name="messages" type="tns:message" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="queueFilingProcessed" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="submitCivilFiling">
    <xs:sequence>
      <xs:element name="arg0" type="tns:civilFilingRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="submitCivilFilingResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:civilFilingResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

